.description {
  width: 95%;
}

.description > textarea {
  width: 100%;
  height: 30vh;
  resize: vertical;
}

.pane-buttons {
  width: 20vw;
  height: 98%;
  position: absolute;
  display: flex;
  align-items: flex-end;
  align-self: flex-end;
  margin-left: 80%;
  padding-bottom: 2%;
  justify-content: space-around;
}

.pane-buttons > button {
  font-size: 1.5em;
}

.pane-section {
  height: 100%;
  padding: 0 5% 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.pane-section > button {
  width: 50%;
  padding: 1% 0;
  background-color: #8AD42C;
  color: white;
  border-radius: 1em;
  font-size: 1.2em;
}

.selected-cell {
  background-color: #8FCCB8;
}

.tab {
  width: 16vh;
  height: 4vh;
  background-color: #eee;
  text-align: center;
  margin: 30px -6vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #555;
  border-width: 1px 1px 0 1px;
  transform: rotate(90deg);
}

#brace-editor {
  width: 50%;
  height: 90%;
}

#editor-container {
  height: 100%;
}

#editor-container > h2 {
  padding: .5em 0;
}

#file-tabs {
  width: 1vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#pane-nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#right-pane {
  width: 20vw;
  height: 100%;
  background-color: #eee;
  border-left: 1px solid #ddd;
  overflow: scroll;
}

#solution {
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/* ACE EDITOR */

.ace_editor {
  width: 100%;
}

.acediff {
  width: 65vw;
  height: 80%;
  border: 1px solid #aaa;
}

.acediff__wrap {
  /* width: 80%; */
  height: 100%;
  left: 0px;
  display: flex;
  flex-direction: row;
  position: relative;
  bottom: 0;
  top: 0px;
  overflow: auto;
}

.acediff__gutter {
  flex: 0 0 60px;
  border-left: 1px solid #999;
  border-right: 1px solid #999;
  background-color: #efefef;
  overflow: hidden;
}
.acediff__gutter svg {
  background-color: #efefef;
}
.acediff__left,
.acediff__right {
  height: 100%;
  flex: 1;
}
.acediff__diffLine {
  background-color: #EAF5F2;
  border-top: 1px solid #8FCCB8;
  border-bottom: 1px solid #8FCCB8;
  position: absolute;
  z-index: 4;
}
.acediff__diffLine.targetOnly {
  height: 0px !important;
  border-top: 1px solid #8FCCB8;
  border-bottom: 0px;
  position: absolute;
}
.acediff__connector {
  fill: #EAF5F2;
  stroke: #8FCCB8;
}
.acediff__copy--right,
.acediff__copy--left {
  position: relative;
}
.acediff__copy--right div,
.acediff__copy--left div {
  color: #000;
  text-shadow: 1px 1px #fff;
  position: absolute;
  margin: 2px 3px;
  cursor: pointer;
}
.acediff__copy--right div:hover {
  color: #004ea0;
}
.acediff__copy--left {
  float: right;
}
.acediff__copy--left div {
  right: 0px;
}
.acediff__copy--left div:hover {
  color: #c98100;
}
