.auth {
  min-height: 100vh;
  background: linear-gradient(to bottom right, #272633, #262E39);
  display: flex;
  justify-content: center;
}

#login {
  margin-bottom: 5%;
}

#login-container, #register-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

#login-container {
  width: 40vw;
  margin-top: 10vh;
  padding: 5vw;
  min-height: 77.5vh
}

#register-container {
  width: 40vw;
  margin-top: 1vh;
  padding: 1vw;
}

#register-inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.auth-container > button {
  width: 22.5vw;
  height: 7vh;
  font-size: 1em;
  padding: 1em 2em;
  border: none;
  border-radius: 2px;
  outline: none;
}

.auth-container > button:last-of-type {
  background-color: #8AD42C;
  color: white;
  padding-top: 3%;
  text-align: center;
}

#login-container > input,  #register-inputs > input {
  width: 23vw;
  height: 7vh;
  border: .1px solid #272633;
  margin-bottom: 5vh;
}

.auth-container > h2 {
  margin: 0 auto 4vh auto;
}

#Oauth > .fa-github {
  font-size: 2.5em;
  margin-top: -4%;
  padding: 1%;
  float: left;
}
