.ace-container {
  width: 60vw;
  height: 80vh;
}

.description {
  width: 95%;
}

.description > textarea {
  width: 100%;
  height: 30vh;
  resize: vertical;
}

.pane-buttons {
  width: 20vw;
  height: 98%;
  position: absolute;
  display: flex;
  align-items: flex-end;
  align-self: flex-end;
  margin-left: 80%;
  padding-bottom: 2%;
  justify-content: space-around;
}

.pane-buttons > button {
  font-size: 1.5em;
}

.pane-section {
  height: 100%;
  padding: 0 5% 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.pane-section > button {
  width: 50%;
  padding: 1% 0;
  background-color: #8AD42C;
  color: white;
  border-radius: 1em;
  font-size: 1.2em;
}

.selected-cell {
  background-color: #8FCCB8;
}

.solution-header {
  height: 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.solution-header > a > button {
  width: 150%;
  background-color: #8AD42C;
  color: white;
  padding: 6% 4%;
  float: right;
}

.solution-header > h2 {
  margin: 0;
}

.tab {
  width: 16vh;
  height: 4vh;
  background-color: #eee;
  text-align: center;
  margin: 30px -6vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #555;
  border-width: 1px 1px 0 1px;
  transform: rotate(90deg);
}

#brace-editor {
  width: 50%;
  height: 90%;
}

#disqus_thread {
  width: 100%
}

#editor-container {
  height: 100%;
}

#file-tabs {
  width: 1vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#pane-nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#right-pane {
  width: 20vw;
  height: 100%;
  padding-top: 10px;
  background-color: #eee;
  border-left: 1px solid #ddd;
  overflow: scroll;
}

#solution {
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
