.ace-container {
  width: 100%;
  height: 75vh;
  border: 1px solid #ddd;
}

.description {
  width: 95%;
}

.description > p {
  word-break: break-word;
}

.description > textarea {
  width: 100%;
  height: 30vh;
  resize: vertical;
}

.pane-buttons {
  width: 20vw;
  height: 98%;
  position: absolute;
  display: flex;
  align-items: flex-end;
  align-self: flex-end;
  margin-left: 80%;
  padding-bottom: 2%;
  justify-content: space-around;
}

.pane-buttons > button {
  font-size: 1.5em;
}

.pane-section {
  height: 100%;
  padding: 0 5% 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.pane-section > button {
  width: 50%;
  padding: 1% 0;
  background-color: #8AD42C;
  color: white;
  border-radius: 1em;
  font-size: 1.2em;
}

.pane-section > div {
  width: 100%;
}

.selected-cell {
  background-color: #8FCCB8;
}

.solution-header {
  width: 100%;
  height: 15%;
  grid-area: header;
  display: flex;
  justify-content: space-between;
  align-self: center;
}

.solution-header > a {
  width: 150px;
  margin-right: 4%;
}

.solution-header > a > button {
  width: 100%;
  background-color: #8AD42C;
  color: white;
  padding: 6% 4%;
  /*float: right;*/
}

.solution-header > h2 {
  margin: 0;
}

.active-tab {
	background-color: #888 !important;
}

.tab {
  width: 4vh;
  height: 16vh;
  background-color: #eee;
  text-align: center;
  /*margin: 30px -6vh;*/
  display: block;
  /*justify-content: center;
  align-items: center;*/
  border: 1px solid #555;
  border-width: 1px 0px 1px 1px;
  border-radius: 16px 0px 0px 0px;
  /*transform: rotate(90deg);*/
  writing-mode: vertical-rl;
  /*text-orientation: upright;*/
  font-weight: 800;
  font-size: 2rem;
  /*z-index: 900;*/
  cursor: pointer;
}

.user-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-info > div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.user-info > div > img {
  width: 35px;
  height: 35px;
  border-radius: 100%;
}

.user-info > p,  .user-info > div > p{
  margin: 0;
}

#brace-editor {
  width: 100% !important;
  height: 100% !important;
}

#disqus_thread {
  width: 100%
}

.problem > #editor-container {
  width: 600px;
  height: 100%;
}

#editor-container {
  grid-area: editor;
  height: 100%;
}

#file-tabs {
  /*width: 1vw;*/
  height: 100%;
  grid-area: ftabs;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-end;
}

#pane-nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#right-pane {
  /*width: 20%;*/
  height: 100%;
  grid-area: rpane;
  padding-top: 10px;
  background-color: #eee;
  border-left: 1px solid #ddd;
  overflow: scroll;
}

#solution {
  width: 100%;
  height: 90vh;
  display: grid;
  grid-template-columns: 5% auto 20%;
  grid-template-rows: 10% auto;
  grid-template-areas:
  	". header rpane"
	"ftabs editor rpane";
}

#switch-solution-buttons {
  display: flex;
  justify-content: center;
}
