.ace-container {
  width: 100%;
  height: 75vh;
  border: 1px solid #ddd;
}

.description {
  width: 95%;
}

.description > p {
  word-break: break-word;
}

.description > textarea {
  width: 100%;
  height: 30vh;
  resize: vertical;
}

.pane-buttons {
  width: 20vw;
  height: 98%;
  position: absolute;
  display: flex;
  align-items: flex-end;
  align-self: flex-end;
  margin-left: 80%;
  padding-bottom: 2%;
  justify-content: space-around;
}

.pane-buttons > button {
  font-size: 1.5em;
}

.pane-section {
  height: 100%;
  padding: 0 5% 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.pane-section > button {
  width: 50%;
  padding: 1% 0;
  background-color: #8AD42C;
  color: white;
  border-radius: 1em;
  font-size: 1.2em;
}

.pane-section > div {
  width: 100%;
}

#selected-tab {
  background-color: #eee;
  border-color: #555;
}

.solution-header {
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.solution-header > a {
  width: 150px;
}

.solution-header-button {
  width: 100%;
  background-color: #8AD42C;
  color: white;
  padding: 6% 4%;
  float: right;
}

.solution-header > h2 {
  margin: 0;
}

.tab {
  width: 16vh;
  height: 4vh;
  text-align: center;
  margin: 30px -6vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #555;
  border-width: 1px 1px 0 1px;
  transform: rotate(90deg);
}

.user-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-info > div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.user-info > div > img {
  width: 35px;
  height: 35px;
  border-radius: 100%;
}

.user-info > p,  .user-info > div > p{
  margin: 0;
}

#brace-editor {
  width: 100% !important;
  height: 100% !important;
}

#disqus_thread {
  width: 100%
}

.problem > #editor-container {
  width: 600px;
  height: 100%;
}

#editor-container {
  width: 65%;
  height: 100%;
}

#file-tabs {
  width: 1vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#pane-nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#right-pane {
  width: 20vw;
  height: 100%;
  padding-top: 10px;
  background-color: #eee;
  border-left: 1px solid #ddd;
  overflow: scroll;
}

#solution {
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#switch-solution-buttons {
  display: flex;
  justify-content: center;
}

#switch-solution-buttons > button {
  color: #00C1AB;
  font-size: 2.5em;
}

#switch-solution-buttons > button:disabled {
  color: #ddd;
}
