.issue {
  padding: 2%;
  border-bottom: 1px solid #00C1AB;
}

.issue:last-of-type {
  border-bottom: none;
}

.issue > h3 {
  padding-left: 2%;
}

.issue > img {
  width: 50px;
  border-radius: 1000px;
  float: left;
}

.issue > p {
  display: inline-block;
}

.issue > p:first-of-type {
  margin-left: 1%;
}

.issue > p:nth-child(odd) {
  float: right;
}

.issue > p:last-of-type {
  color: #8AD42C;
}

#issues {
  min-height: 90vh;
  padding: 0 5%;
}

#issues-container {
  width: 80vw;
  margin-left: 5vw;
}

#issues-filter {
  height: 5vh;
  display: flex;
  margin-bottom: 2%;
  padding-top: 1%;
}

#issues-filter > button {
  background-color: white;
  border: none;
  font-family: inherit;
  font-size: 1.25em;
  z-index: -1;
}
