.closed {
  color: #00C1AB;
}

.issue {
  padding: 2%;
  border-bottom: 1px solid #00C1AB;
}

.issue:last-of-type {
  border-bottom: none;
}

.issue > a > h3 {
  padding: 0 2%;
}

.issue > a > h3:hover {
  opacity: .5;
}

.issue > img {
  width: 50px;
  border-radius: 1000px;
  float: left;
}

.issue > p, .issue > a > p {
  display: inline-block;
}

.issue > a:first-of-type {
  margin-left: 1%;
}

.issue > p:nth-child(odd) {
  float: right;
}

.open {
  color: #8AD42C;
}

#issues {
  min-height: 90vh;
  padding: 0 5%;
}

#issues-container {
  width: 80vw;
  margin-left: 5vw;
}

#issues-filter {
  height: 5vh;
  display: flex;
  margin-bottom: 2%;
  padding-top: 1%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#issues-filter > button {
  border: none;
  font-family: inherit;
  font-size: 1.25em;
  z-index: -1;
}

#issues-filter > a {
  height: 5vh;
  padding: 0 2%;
  color: white;
  background-color: #00C1AB;
  display: flex;
  justify-content: center;
  align-items: center;
}

issues-filter > a:hover {
  opacity: .5;
}
