.column {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-left: 1px solid #ddd;
}

.column:first-of-type {
  border: none;
}

.column > h3 {
  border-bottom: 1px solid;
}

.column > p {
  width: 15vw;
  height: 5vh;
  text-align: center;
  overflow-wrap: break-word;
}

.fullWidth > p {
  padding-left: 38vw;
}

.helper {
  width: 100%;
}

.helper > p {
  margin-left: -1.5em;
  opacity: .6;
}

.input-container {
  width: 40%;
}

.input-container > input {
  width: 100%;
  height: 7vh;
  border: .1px solid #eee;
  margin-bottom: 2vh;
}

.path-container {
  width: 50%;
  padding: 10px 0;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

.path-container > button {
  width: 100%;
  background: none;
  margin: 5px 0;
}

.path-container > h3 {
  margin: 10px 0;
  word-wrap: break-word;
}

#choose-files > h2 {
  margin: 0 auto 5% auto;
  color: #8AD42C;
}

#choose-files, #newIssue {
  padding: 5%;
  display: flex;
  flex-direction: column;
  background-color: #eee;
  align-items: center;
}

#choose-files > .fullWidth > div {
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#newIssue > .fullWidth {
  justify-content: flex-end;
}

#newIssue > .fullWidth > div {
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


/* #choose-files > .fullWidth > a > button {
  margin-left: 80vw;
} */

.fullWidth > a > button, .fullWidth > input[type="submit"] {
  width: 5em;
  height: 6vh;
  display: flex;
  background-color: #00C1AB;
  color: white;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 1.25em;
  float: right;
}

#embed-list {
  border-left: 2px solid #ddd;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#embed-list > h3, .column > h3 {
  width: 80%;
  padding-bottom: 5px;
  border-bottom: 1px solid ;
  text-align: center;
}

#file-names {
  width: 100%;
  text-align: center;
  word-wrap: break-word;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#file-names > p {
  width: 50%;
}

#newIssue {
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#select-files-container {
  width: 100%;
  min-height: 75vh;
  display: flex;
  justify-content: center;
}

@media (max-width: 975px) {

  .input-container {
    width: 70%;
  }

}
