#profile-data {
  width: 60vw;
  padding: 20px 0;
}

.profile-list {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  flex-wrap: wrap;
  font-size: 1.75em;
}

.profile-list > p, .profile-list > a {
  width: 50%;
  padding: 10px 0;
}

.profile-list > a {
  border-bottom:
}

#language-container {
  border-bottom: 1px solid #ddd;
}

#language-container, #links-container  {
  padding-top: 2%;
}

#language-container > h3, #links-container > h3 {
  width: 100%;
}

#profile {
  min-height: 85vh;
  display: flex;
  flex-direction: row;
}

#profile-info {
  width: 30vw;
  display: flex;
  margin-right: 2vw;
  float: left;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

#profile-info > div {
  margin: 10px 0;
}

#profile-nav {
  width: 100vw;
  height: 8vh;
  display: flex;
  border-bottom: 1px solid #eee;
  justify-content: center;
  font-size: 1.5em;
}

#profile-nav > a {
  margin-right: 1%;
  padding: 20px;
}

#profile-pic {
  width: 250px;
  height: 250px;
  border-radius: 1000px;
  margin: -25px auto 5% auto;
  align-self: center;
  border: 3px solid #eee;
}

#user-container {
  display: flex;
  flex-wrap: wrap;
}

@media (max-width: 768px) {

  .profile-list {
    flex-direction: column;
    text-align: center;
  }

  .profile-list > p, .profile-list > a {
    width: 100%;
  }

  #language-container, #links-container, #profile-info {
    margin: 0;
    width: 100%;
  }

  #language-container > p, #links-container > p {
    width: 100%;
    margin: 0;
  }

  #profile {
    height: 100%;
    margin: 0;
    display: flex;
    padding: 10px 0 30px;
    flex-direction: column;
    align-items: center;
  }

  #profile-data, #profile-info {
    padding: 10px 0;
  }

  #profile-data {
    border-top: 1px solid #eee;
  }

  #profile-info > div > a > button, #profile-info > div > button {
    background: none;
  }

  #profile-pic {
    margin: 0;
  }
}
